extends layout
block content
    div(class="myleft")
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
            Breadcrumb-Item
                span(id="directory") #{ note.directory.directory }
            breadcrumb-item
                span(id="title") #{ note.title }
        Card(class="mycont")
            div(slot="title" class="contensingle") 标题: #{ note.title }
                div 作者: #{ note.author }
                    div(v-if="islogin")
                        a(href="/edit/" + note.title)
                            Icon(type="md-create")
                        span
                            Icon(type="md-close" @click="delnote")
            != note.content
            div(id="tagsview" class="contensingle") 标签:
                each tag in note.tags
                    Tag(class="mytag") #{ tag.tag }
                div 发布日期: #{ note.date }
