extends layout
block content
    div(class="myleft")
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
            Breadcrumb-Item
                span(id="directory" placeholder="点我输入目录"
                    class="contentedit") #{ note.directory.directory }
            breadcrumb-item
                span(id="title" placeholder="点我输入标题" class="contentedit") #{ note.title }
        div(id="editarea")
            Card(class="mycont")
                div(slot="title" class="contentitle") #{ note.title }
                    div #{ note.author }
                        Icon(type="md-close" @click="delnote(" + note._id + ")")
                p(onload="realtime")
                    != note.content
                div(class="tagsview")
                    each tag in note.tags
                        Tag #{ tag.tag }
                    div(class="del")