Sider(breakpoint="md" scoped collapsible :collapsed-width="0"
      v-model="isCollapsed" class="mycolor mysize-sider")
    i-menu(active-name="1-2" width="auto" :class="menuitemClasses" accordion)
        menu-item(name="1-1")
            a(href="/")
                img(src="/img/logo.png" alt="君兮")
        menu-item(name="1-2")
            span
                i-button(type="text" :size="buttonSize" to="/edit") 写文章
            span
                i-button(type="text" :size="buttonSize" to="/") 退  出
        menu-item(name="1-3")
            i-input(search clearable)
        menu-item(name="1-4")
                Tabs(type="card")
                    tab-pane(label="目录" name="directory")
                        each list, index in lists
                            Submenu(name=index) 
                                div(slot="title") #{ list.directory }
                                each note in list.notes
                                    menu-item
                                        a(href= "/" + note.title)
                                            div(class="siderTitle") #{ note.title }
                    tab-pane(label="标签" name="tag")
                        each tag in tags
                            a(href="/tag/" + tag.tag)
                                Tag #{ tag.tag }
    div(slot="trigger")